.nav-bar {
    background: #212121;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    .logo {
        display: block;
        padding: 8px 0;

        img {
            display: flex;
            align-items: right;
            margin: 8px auto;
            width: 10%;
            height: auto;

            &.sub-logo {
                width: 10%;
            }
        }
    }
}